
@{
    ViewBag.Title = "Курсы";
}

<div class="row" style="border-bottom:1px solid #428BCA; height:200px" >
    <div class="col-md7">
        <p>Курс повышения квалификации</p>
        <p><a href="">Управление системой дополнительного профессионального образования</a></p>
        <div></div>
        <p>Системные изменения в ДПО. Регламентация ДПО в нормативных актах Минобрнауки РФ, 
        Минтруда РФ. Лицензирование. Профстандарты. Проектирование и реализация ДПП. 
        Компетентностный подход. Сетевая форма. Общественная и профессионально-общественная 
        аккредитация. Кадровое обеспечение. Госконтроль (надзор) за деятельностью в сфере ДПО</p>
    </div>
    <div class="col-md8">
        <p>
            <b>Даты проведения:</b>
            <br>18-22 декабря
            <br>Май 2018
        </p>
        <p>
            <b>Форма обучения:</b>
            <br>Очная
        </p>
        <p><a href="">Узнать больше и записаться</a></p>
    
    </div>
</div>
<div class="row" style="border-bottom:1px solid #428BCA; height:200px">
    <div class="col-md7">
        <p>Семинар</p>
        <p><a href="">Научная и инновационная деятельность в вузе: управление и коммерциализация научных результатов</a></p>
        <div></div>
        <p>
            Практический курс об особенностях и механизме коммерциализации результатов научно-
            инновационной деятельности вуза. В программе представлен опыт развития научных и 
            инновационных структур вузов Санкт-Петербурга, а также технологии продвижения и продаж 
            научно-технических идей и разработок
        </p>
    </div>
    <div class="col-md8">
        <p>
            <b>Даты проведения:</b>
            <br>18-22 декабря
            <br>Май 2018
        </p>
        <p>
            <b>Форма обучения:</b>
            <br>Очная
        </p>
        <p><a href="">Узнать больше и записаться</a></p>

    </div>
</div>
<div class="row" style="border-bottom:1px solid #428BCA; height:240px">
    <div class="col-md7">
        <p>Курс повышения квалификации</p>
        <p><a href="">Образовательный процесс в вузе: проектное управление и реализация программ</a></p>
        <div></div>
        <p>
            Участникам помогут разобраться в современных хитросплетениях организации образовательного 
            процесса: от комплексного управления процессами в вузе до управления проектом как 
            образовательной программой. Особый интерес вызывает каталог интерактивных методов 
            обучения. Модульная структура курса рассчитана на специалистов, организующих 
            образовательный процесс (код 38305), и для преподавателей, моделирующих ОП с учетом ФГОС 
            и профстандартов (код 38306)
        </p>
    </div>
    <div class="col-md8">
        <p>
            <b>Даты проведения:</b>
            <br>18-22 декабря
            <br>Май 2018
        </p>
        <p>
            <b>Форма обучения:</b>
            <br>Очная
        </p>
        <p><a href="">Узнать больше и записаться</a></p>

    </div>
</div>

