
@{
    ViewBag.Title = "Главная";
}

<div class="menu-box">
    <div class="row" style="border-bottom:1px solid #428BCA; box-sizing:border-box; ">
        <div class="menu-box-item1">
            <ul>
                <li><a href="~/Home/seminars">СЕМИНАРЫ И КУРСЫ</a></li>
                <li><a href="">КОНФЕРЕНЦИИ</a></li>
                <li><a href="">ОНЛАЙН-ОБУЧЕНИЕ</a></li>
                <li><a href="">ТРЕНИНГИ</a></li>
                <li><a href="">ВЕБИНАРЫ</a></li>
            </ul>
        </div>
        <div class="menu-box-item2">
            
        </div>
    </div>
    
</div>
<div class="row" style="height:400px; border-bottom:1px solid #428BCA">
    <div class="col-md1"><img src="~/images/121.jpg" /></div>
    <div class="col-md2">
        <ul>
            <h3>Основными задачами института являются:</h3>
            <li>удовлетворение потребностей работников образовательных и иных организаций, входящих в систему образования Чеченской Республики, в получении знаний о новейших достижениях в педагогике, психологии, управлении образовательными организациями (образовательными системами), в передовом отечественном и зарубежном опыте в сфере образования, в том числе путем издания учебных, научных, методических и иных изданий;</li>
            <li>реализация дополнительных профессиональных образовательных программ повышения квалификации работников образовательных и иных организаций, входящих в систему образования Чеченской Республики;</li>
            <li>организация и проведение научных исследований и экспериментальных разработок в области образования; консультационная деятельность;</li>
            <li>информационное, аналитическое, и научно-методическое сопровождение инновационных процессов в системе образования Чеченской Республики; диссеминация передового педагогического и управленческого опыта;</li>
            <li>организация научно-методического, консультативно-информационного, организационного обеспечения реализации государственной политики в области профессионального образования;</li>
            <li>научная экспертиза программ, проектов, учебных, методических и иных изданий, других документов и материалов по вопросам образования.</li>
        </ul>
    </div>
</div>
<div class="row" style="height:200px">
    <div class="col-md3"><h3>ТЕОРИЯ. ПРАКТИКА. РЕЗУЛЬТАТ.</h3></div>
    <div class="col-md4">
        <img src="~/images/adv2.png"><h4>ПРИКЛАДНЫЕ ЗНАНИЯ</h4>
        <p>Наши семинары разработаны так, чтобы участник максимально использовал полученные знания на практике и становился эффективнее, — а это именно то, в чем заинтересованы работодатели.</p>
    </div>
    <div class="col-md4">
        <img src="~/images/int.png"><h4>ИНТЕРНЕТ ДЛЯ ОБУЧЕНИЯ</h4>
        <p>Мы используем интернет-технологии, чтобы быть ближе к вам. Наши семинары транслируются online. Вы можете повысить квалификацию дистанционно и получить соответствующее удостоверение.</p>
    </div>
    <div class="col-md4">
        <img src="~/images/service.png"><h4>КОМФОРТНЫЙ СЕРВИС</h4>
        <p>Мы предоставляем индивидуальное сопровождение — от первого звонка до выдачи удостоверения об обучении. Нас любят за гибкую систему оплаты и быструю работу с документами.</p>
    </div>
</div>


