
@{
    ViewBag.Title = "Семинары";
}

<div class="row">
    <div class="col-md5"><h2>Семиары и курсы по направлениям</h2></div>
    <div class="col-md6">
        <ul>
            <li><a href="~/Home/courses">Высшее образование</a></li>
            <li><a href="">Среднее профессиональное образование</a></li>
            <li><a href="">Дополнительное профессиональное образование</a></li>
            <li><a href="">Дошкольное и общее образование</a></li>
            <li><a href="">Дополнительное образование детей и подростков</a></li>
            <li><a href="">Специальное (коррекционное) образование</a></li>
            
        </ul>
    </div>
    <div class="col-md6"></div>
    <div class="col-md6"></div>
</div>

